.table__top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.export-button {
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 0.8rem;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 0.3rem;
  transition: 0.3s linear;
}

.export-button:hover {
  background-color: black;
  color: white;
}
